__pycache__
*.pyc
*.pyo
.venv
.DS_Store
.env*
!.env.example

data/abt/
data/processed/
data/raw/balance_sheets/
data/raw/company_profiles/
data/raw/income_statements/
data/raw/price_history/

.ipynb_checkpoints/
notebooks/
tmp_*
*.log
